<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="">
            <label for="blogTitle">Title</label>
            <input type="text" name="blogTitle" id="blogTitle"><br>
            <label for="genre">Genre</label>
            <select name="genre" id="genre">
                <option value="technology">Information and technology</option>
                <option value="education">Education</option>
                <option value="health">Health</option>
                <option value="sport">Sport</option>
                <option value="lifestyle">lifestyle</option>
            </select><br>
            <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
            <button>Create</button>
        </form>
    </main>
</body>
<script src="script.js"></script>
</html>