<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form>
            <label for="email">email</label>
            <input type="text" name="email" id="email" placeholder="Just enter a dummy email"><br>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter a creative username"><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="ssh...don't share your password"><br>
            <label for="interest">Interest</label>
            <select name="interest" id="interest">
                <option value="technology">Information and technology</option>
                <option value="education">Education</option>
                <option value="health">Health</option>
                <option value="sport">Sport</option>
                <option value="lifestyle">lifestyle</option>
            </select>
            <button>Register</button>
        </form>
    </div>
    <footer>
        <p>Copyright of Blogtrail 2024</p>
        <ul>
            <li>Instagram</li>
            <li>Linkedin</li>
            <li>Facebook</li>
        </ul>
    </footer>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit',async(e)=>{
        e.preventDefault();
        const email = form.email.value; 
        const username = form.username.value;
        const password = form.password.value;
        const interest = form.interest.value;
        const blogs = [];

        try{
            const res = await fetch('/register',{
                method:'POST',
                body:JSON.stringify({
                    email,username,password,interest,blogs
                }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.user){
                location.assign('/dashboard')
            }
        }catch(err){
            console.log(err);
        }
    })
    </script>
</body>
</html>