<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>  
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li>Profile</li>
                <li>Posts</li>
                <li>Feedbacks</li>
                <li>Connections</li>
                <li>Contributions</li>
            </ul>
        </aside>
        <div class="content">
            <p>Content</p>
        </div>
    </main>
</body>
</html>