<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>  
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/writerHub">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li> <a href="/dashboard" class="current">Profile</a></li>
                <li> <a href="/posts">Posts</a></li>
                <li> <a href="/feedbacks">Feedbacks</a></li>
                <li> <a href="/connections">Connections</a></li>
                <li> <a href="#">Contributions</a></li>
            </ul>
        </aside>
        <div class="content">
            <div class="upper">
                <h1 id="userHeader"><%= user.username %></h1>
                <p class="label">Email</p>
                <p id="userEmail"><%= user.email %></p>
                <p class="label">Interest</p>
                <p id="userInterest"><%= user.interest %></p>
                <p class="label">Blogs Written</p>
                <p id="userBlogs"><%= user.blogs.length %> </p>
            </div>
            <hr>
            <div class="lower">
                <h1>Edit Profile</h1>
                <form action="" id=form1>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Just enter a dummy email"><br>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter a creative username"><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="ssh...don't share your password"><br>
                    <label for="interest">Interest</label>
                    <select name="interest" id="interest">
                        <option value="technology">Information and technology</option>
                        <option value="education">Education</option>
                        <option value="health">Health</option>
                        <option value="sport">Sport</option>
                        <option value="lifestyle">lifestyle</option>
                    </select><br>
                    <button>Confirm</button>
                </form>
                <hr>
                <h2>Additional</h2>
                <form action="" id="form2">
                    <label for="location">Add location : </label>
                    <input type="text" name="location" id="location" placeholder="Add where you currently live right now"><br>
                    <label for="Education">Add Education: </label>
                    <input type="text" name="Education" id="Education" placeholder="Add your last education"><br>
                    <label for="Hobby">Add Hobby: </label>
                    <input type="text" name="Hobby" id="Hobby" placeholder="Favorites thing to do in your free time"><br>
                    <label for="quote">Add quote: </label>
                    <input type="text" name="quote" id="quote" placeholder="say something you want other people to hear"><br>
                </form>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>