<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Ini halaman readBlog</h1>
    <p>Judul: <%= blog.title %></p>
    <p>Author: <%= blog.author %></p>
    <p>Cateogry: <%= blog.category %></p>
    <p>Content: <%= blog.content %></p>

<script src="script.js"></script>
</body>
</html>