<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li> <a href="/dashboard" >Profile</a></li>
                <li> <a href="/posts">Posts</a></li>
                <li> <a href="/feedbacks" class="current">Feedbacks</a></li>
                <li> <a href="#">Connections</a></li>
                <li> <a href="#">Contributions</a></li>
            </ul>
        </aside> 
        <div class="content">
            <h1>Ini feedbacks</h1>
        </div>
    </main>
</body>
</html>