<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li>Profile</li>
                <li>Posts</li>
                <li>Feedbacks</li>
                <li>Connections</li>
                <li>Contributions</li>
            </ul>
        </aside>
        <div class="content">
            <div class="posts">
            <h1>posts</h1>
            </div>
            <div class="addPost">
                <h1>Add new Blog</h1>
                <form action="">
                    <label for="title">Title : </label>
                    <input type="text" name="title" id="title"><br>
                    <label for="category">category : </label>
                    <input type="text" name="category" id="category"><br>
                    <button type="button">Create</button>
                </form>
            </div>
        </div>
    </main> 
    <script src=script.js></script>
</body>
</html>