<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/writerHub">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="">
            <label for="blogTitle" id="blogTitle"><%= blog.title %></label>
            <label for="category" id="category"><%= blog.category %></label>
            <textarea name="content" id="content" cols="100" rows="50"><%=blog.content%></textarea><br>
            <button>Edit</button>
        </form>
       
    </main>
</body>
<script src="script.js"></script>
</html>