<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <span id="title">
            <p>BlogTrail</p>
        </span>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">Writer's Hub</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="">
            <label for="blogTitle">Title</label>
            <input type="text" name="blogTitle" id="blogTitle" value="<%= blog.title %>"><br>
            <label for="genre">Genre</label>
            <select name="genre" id="genre">
                <option value="technology" <% if (blog.category === 'Information and technology') { %> selected <% } %>>Information and technology</option>
                <option value="education" <% if (blog.category === 'education') { %> selected <% } %>>Education</option>
                <option value="health" <% if (blog.category === 'health') { %> selected <% } %>>Health</option>
                <option value="sport" <% if (blog.category === 'sport') { %> selected <% } %>>Sport</option>
                <option value="lifestyle" <% if (blog.category === 'lifestyle') { %> selected <% } %>>lifestyle</option>
            </select><br>
            <textarea name="content" id="content" cols="100" rows="50"><%=blog.content%></textarea><br>
            <button>Edit</button>
        </form>
    </main>
</body>
<script src="script.js"></script>
</html>